.main-container {
  h2 {
    opacity: 0.8;
    color: var(--text-color-white);
  }

  .content-text {
    padding: 0% 2%;
    color: var(--text-color-white);

    blockquote {
      text-align: justify;
      letter-spacing: 1px;
      padding: 0% 2%;
    }

    .img-rectangleTriangle {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        max-width: 50%;
        border-radius: 5px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      }

      figcaption,
      a {
        max-width: 100%;
        font-size: 0.5rem;
      }
    }
  }

  .start {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 0 0 0;

    .btn,
    .btn-outline-primary {
      &:hover {
        color: var(--text-color-white) !important;
      }
    }
  }
}
